# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/

# Jupyter notebooks
.ipynb_checkpoints/

# Environment files
.env
.env.*

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs / temporary files
*.log
*.tmp

# Dataset
# data/